<h1><%= @genre.name %></h1>
<table>
<%= render partial: 'games/games_table_header' %>

 <% @genre.games.each do |game| %>

<%= render partial: 'games/games_table_body', locals: {game: game} %>

 <% end %>
</table>