
<table>
 <tr>
  <th>Game Name</th>
  <th>Race Date</th>
  <th>Participants</th>
  <th>Winner</th>

  
 </tr>
 <% @races.each do |race| 
  race_id = race.id
  date = race.date
  game_id = race.game_id
  url = race.url
  description = race.description
  goal = race.goal
  duration = race.duration
  game = Game.find_by_id(race.game_id)
%>
 <tr>
  <td><%= link_to game.name, race_path(race) %></td>
  <td><%= date %></td>
  <td><%= race.placements.count %></th>
  <td><%= race.winner.name %></th>
 </tr>
 <% end %>
</table>