<h1>All N64Mania Games</h1>

<table>
 <tr>
  <th>Name</th>
  
 </tr>
 <% @games.each do |game| %>
 <% j = game.id %>
 <tr>
  <td><%= link_to game.name, game_path(game) %></td>
  
 </tr>
 <% end %>
</table>