<table>
 <tr>
  <th>ID</th>
  <th>Name</th>
  
 </tr>
 <% Game.unplayed.each do |game| %>
 <% j = game.id %>
 <tr>
  <td><%= j %></td>
  <td><%= link_to game.name, game_path(game) %></td>
  <td><%= game.name%>
 </tr>
 <% end %>
</table>