
<table>
<tr>
<th class="top-left">Game Name</th>
<th>Race Date</th>
<th>Placement</th>
<th class="top-right">Time</th>
</tr>

<% @races.sort_by {|race| race.date }.each do |race| %>
<% game = Game.where(id: race.game_id).first %>
<% placement = Placement.where(race_id: race.id, player_id: @player.id).first %>
<% time = Time.at(placement.time).utc.strftime("%H:%M:%S")%>
<tr>
<% puts game.name %>
<td id="player-race-name"><%= link_to game.name, race_path(race) %></td>
<td id="player-race-date"><%= race.date %></td>
<td id="player-race-placement"><%= placement.placement == 999 ? 0 : placement.placement%></td>
<td id="player-race-time"><%= time == "00:00:00" ? "N/A" : time %></td>
</tr>
<% end %>
</table>