<div class="players-info">
<h1> <%= @player.name %> </h1>

<p>Twitch: <%=link_to "https://www.twitch.tv/#{@player.stream}", "https://www.twitch.tv/#{@player.stream}"%></p>
</div>
<div class="races-table">
<h1>All Races</h1>

<%= render partial: "raced_table" %> 
</div>
