body {
    width:1200px;
    min-height: 600px;
    margin:auto;
    font-family: sans-serif;
 
}

.flexed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.btn-game-search {
    background-color: white;
    height: 40px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, .2);
    margin-left: 1px;
}
