body {
    width:1200px;
    min-height: 600px;
    margin:auto;
    font-family: sans-serif;
    background-color: rgb(236, 236, 236);

}

.flexed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.nav-link-count {
    display:inherit;
    justify-content: center;
    text-align: center;
}

.nav-link-box {
    
    border-width: 2px;
    border-color: black;
    border-style: dashed;
    border-radius: 10px;
    padding: 20px;
    min-width: 236px;
    margin:auto;
}

.nav-link-box a {
    display:flex;
    justify-content: center;
}

.btn-game-search {
    background-color: white;
    height: 40px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, .2);
    margin-left: 1px;
}

footer {
    display:flex;
    justify-content: center;
    margin-top: 50px;
}

a { 
    text-decoration: none;

}

a:hover {
    font-weight:bold;
    color:rgb(48, 163, 13);
}

