nav {   
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
    font-size: larger;
    background-color: rgb(39,57,141);
    width: 60vw;
} 

.nav-links {   
    display: flex;
}

nav a, nav button {
    color:yellow;
} 

nav a:hover, button:hover, nav form:hover {
    color:rgb(255,253,119);
    font-weight: unset;
    background-color: rgb(25, 38, 91);
    cursor: pointer;
}

nav button {
    background-color: inherit;
    border:none;
    font-size: unset;
}

.selected {
    color:rgb(255,253,119);
    background-color: rgb(25, 38, 91);
}

.nav-link-count {
    display:inherit;
    justify-content: center;
    text-align: center;
}

.nav-link-box {
    text-align: center;  
    padding: 1.25rem 2.5rem;
    // padding-left: 0; TODO: Add this once hover situation when it's added is fixed
    margin:auto;
    white-space: nowrap;
}

.nav-link-box a {
    display:flex;
    justify-content: center;
}

#twitch-login {
    margin-left: auto;
}
