nav {
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
   1px -1px 0 #000,
  -1px -1px 0 #000;
  font-size: larger;
  background-color: rgb(39,57,141);
}

nav a {
    color:yellow;
    margin:auto;
    width: 100%;
}

nav a:hover {
    color:rgb(255,253,119);
    font-weight: unset;
    background-color: rgb(25, 38, 91);
}

.selected {
    color:rgb(255,253,119);
    background-color: rgb(25, 38, 91);
}

.nav-links {
    margin: auto;
    display: flex;
    justify-content: space-between;
   // margin-top: 2em; Commented when moved to top
}

// .nav-link-box:hover {
//     background-color: white;
// }

.nav-link-count {
    display:inherit;
    justify-content: center;
    text-align: center;
}

.nav-link-box {
    text-align: center;    
    padding: 20px;
    min-width: 236px;
    margin:auto;
}

.nav-link-box a {
    display:flex;
    justify-content: center;
}

