// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.players-info {
    display: flex;
}

#player-race-placement { 
    text-align: center;
}

#player-race-time { 
    text-align: center;
}

table td {
    padding-top: 5px;
    border-top: 1px dashed;
}

.stats-table {
    margin-left: auto;
    width: 59%;
    background-color: transparent;
    tr, th, tr:nth-child(odd), tr:nth-child(even), td, tr:hover, tr:nth-child(even):hover {
        background-color: transparent;
        text-decoration: none;
    }
}

.twitch-link {
   color:purple;
   margin-top:-20px; 
   a {
    color:rgb(255,238,105);
} a:hover {
    text-decoration: underline;
}
} 

.player-header-container {
    width: 20%;
}