// Place all the styles related to the races controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// tr {
//     display:flex;
//     flex-direction: column;
// }

.race-header {
    display:flex;
}

#race-game-name {
    margin-right: .5em;
}
 
#race-goal {
    margin-left: .5em;
}

#race-date {
    margin-left: auto;
    font-size: .5em;
}

